
data-preprocessing/bin/freq
data-preprocessing/dataProc/*
data-preprocessing/MEPsets/*
data-preprocessing/FANNsets/*
data-preprocessing/kNNsets/*
data-preprocessing/SVMSets/*
data-preprocessing/DT_C5.0sets/*
code-for-ANN/showProgressiveResults.sh
code-for-ANN/src/*
code-for-ANN/myOut/*
code-for-ANN/my_trainValidTest_seedFib
code-for-SVM/libsvm-master/*
code-for-DT_C5.0/C50/*
historyLog
